.home {
    background-color: rgba(207, 207, 207, .06);
}

.card {
    height: 736px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.06);
    border-radius: 7px;

    display: grid;
    grid-template-rows: 1fr 50px;

    &__inputs {
        background-color: skyblue;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.input {
    &__title{

    }
    
}